@import url(https://fonts.googleapis.com/css?family=Roboto:700,400,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:100);
@import url(http://weloveiconfonts.com/api/?family=zocial);

* {
	font-family: 'Roboto', sans-serif;
	color: #455a64;
}

body {
	font-weight: 100;
}

ul,
li {
	list-style: none;
}

li {
	display: inline-block;
}

a {
	color: #455a64;
}

a:hover {
	color: #FFA606;
	text-decoration: none;
}

header,
section {
	min-height: 100vh;
}

footer {
	padding-top: 10rem;
	margin-bottom: 10rem;
}

h1,
h2,
h3,
h4 {
	font-weight: 100;
	text-align: center;
}

h2 {
	font-family: 'Roboto Slab', serif;
	font-size: 4rem;
}

h3 {
	font-family: 'Roboto Slab', serif;
	font-size: 3rem;
	font-weight: 400;
}

h4 {
	font-size: 2rem;
}

p {
	font-family: 'Roboto Slab', serif;
	font-size: 2rem;
}


/*Header*/
.header-wrapper {
	position: relative;
}

#header {
	min-height: 100vh;
}

#header-bg {
	opacity: 0.3;
	width: 100%;
	height: 100vh;
	position: absolute;
	background-color: #fff;
	background-repeat: no-repeat;
	background-position: right bottom;
}

@media screen and (max-height: 600px){
	#header-bg {
		background-position: right top;
	}
}


#name {
	margin-top: 15vh;
	font-size: 8rem;
	font-weight: 700;
}

.biopic {
	display: block;
}

.header-role {
	font-size: 2rem;
	font-weight: 100;
	font-style: italic;
}

.orange-text {
	display: none;
}

#topContacts {
	margin: 3rem 0;
}

.contact-link {
	font-size: 0;
}

.welcome-message {
	margin: 5rem 0;
	font-size: 3rem;
	font-weight: 100;
}

.skill {
	display: inline-block;
	margin: 1rem;
	font-size: 2rem;
	line-height: 3rem;
	padding: 0 0.5em;
	border: 1px solid #455a64;
	border-radius: 1rem;
}

/* Work experience */

.work-entry {
	margin: 5rem 0;
}

.date-text,
.location-text {
	font-size: 1.5rem;
	font-style: italic;
	text-align: center;
}

/* Projects */
.project-entry {
	margin: 5rem 0;
}

.project-image {
	margin: 15px 0;
}

/* Education */

.education-entry {
	margin: 5rem 0;
}

.education-major {

}

/* Map */
#map {
	display: block;
	height: 100%;
}

#mapDiv {
	height: 100vh;
	width: 100%;
	padding-bottom: 5%;
}

@media screen and (max-width: 414px){
	#mapDiv {
		height: 25vh;
	}
}

@media screen and (min-width: 415px) and (max-width: 768px){
	#mapDiv {
		height: 50vh;
	}
}



/* Footer */

#footerContacts {
	margin: 5rem 0 0 0;
}

#footerContacts li {
	display: inline-block;
	margin: 0 3rem 0 0;
}

#footerContacts a {
	font-size: 2rem;
}


/* zocial */

[class*="zocial-"]:before {
	font-family: "zocial", sans-serif;
	font-size: 2rem;
	margin: 0 1rem 0 2rem;
}



